.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

.error {
  font-size: 11px;
  color: red
}

.enviado {
  font-size: 14px;
  color: #4CAF50;
  font-weight: bold;
}


.button {
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  
  color: black;
  border: 2px solid #6e6e6e;
}

.button1:hover {
  background-color: #000000;
  color: white;
}


.mi_tabla {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  
}

.mi_td {
  text-align: center;
}

.mi_i {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}
.mi_i2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.tamano_estado {
  width: 10%;
}

.tamano_tematica {
  width: 30%;
}

.tamano_titulo {
  width: 20%;
}

.tamano_link {
  width: 10%;
}

.tamano_dependencia {
  width: 10%;
}

.tamano_opciones {
  width: 10%;
}

.texto_centrado {
  text-align: center;

}
.mi_autocomplete {
  padding-top: 20px;

}


.modal_propiedades {
  position: fixed;
  padding-right: 500px;
  padding-top: 20px;
  position: relative;
  border-color:#282c34;
  background-color: rgb(247, 247, 247);
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 58vh;
  z-index: 999;
  transition: background-color 0.25s ease
}

